node_modules
test*
#server will igner server.ts from templates
#server*
file-storage

.env.local
.env.*.local

services/backend/templates/__generated_services_for_test__
services/backend/integration-tests/__generated_servers_for_test__

dist